DATABASE_URL="your-database-url"
ACCESS_TOKEN_EXPIRE_MINUTES_TIME = 0
TOKEN_SECRET_KEY ="your-secret-key"
ALGORITHM ='HS256'
MAX_VALUE_LOANS = 0
POSTGRES_USER = your-database-user
POSTGRES_DB = your-database-name
POSTGRES_PASSWORD = your-database-password
STACK_TOKEN = 'your-token-here'
STACK_HOST = 'your-host-here'